node_modules/
.next/
.env
.env.local
__pycache__/
*.pyc
.venv/
venv/
pgdata/

# Backend
backend/nestjs-api/dist/
backend/nestjs-api/node_modules/
backend/go-api/server
backend/go-api/server.exe
backend/go-api/*.exe
.idea/
*.log
